## PR1

1. Crear un DataFrame de dos columnas llamado 'mig_1'. 

    - La primera columna son los nombres de los __paises__ de la UE contenidos en el fichero [paises.txt](datos/paises.txt). La columna se llama 'Paises'.

    - Los datos de la segunda columna son los datos de __migración neta__  de la última década de los paises anteriores. La columna se llama 'Net.Mig' Estos datos están contenidos en el fichero [datos_mig.txt](datos/datos_mig.txt).

2. Crear un DataFrame con los datos de los ficheros anteriores llamado 'mig_2'.  Ha de tener las siguientes características:

    - El índice está constituído por los paises. 
    - La única columna se llama 'Net.Mig'.
    
3. Añade una nueva columna al DataFrame 'mig_2' llamada 'Id'. El valor de la columna es la inicial del pais en el índice.

In [54]:
import pandas as pd
df1 = pd.read_csv(r"C:\Users\jmcas\OneDrive\Proyecto Xamarin\Python\paises.txt", sep="\n", names=['Paises'])
df2 = pd.read_csv(r"C:\Users\jmcas\OneDrive\Proyecto Xamarin\Python\datos_mig.txt", sep="\n", names=['Net.Mig'])

pd.DataFrame(data=df2, index=df1.loc[:,'Paises'])

                Net.Mig
Paises
Hungary             NaN
Poland              NaN
Czech Republic      NaN
Germany             NaN
Slovak Republic     NaN
Japan               NaN
Finland             NaN
Sweden              NaN
Denmark             NaN
Austria             NaN
United Kingdom      NaN
Greece              NaN
Italy               NaN
Belgium             NaN
Portugal            NaN
France              NaN
Switzerland         NaN
Norway              NaN
Netherlands         NaN
Canada              NaN
United States       NaN
New Zealand         NaN
Spain               NaN
Australia           NaN
Iceland             NaN
Luxembourg          NaN
Turkey              NaN
Ireland             NaN

__Notas de ayuda:__
* Utiliza la función __open__ y __readlines__ para leer ambos ficheros.
* La función strip elimina retornos de carro.
* La función __replace__ de la clase __str__ permite sustituir un símbolo por otro.
* La función __zip__ permite construir tuplas a partir de dos listas.
* La función __upper__ convierte a mayúsculas un string.

In [3]:
# Sol:
import numpy as np
import pandas as pd

## PR2

Crear una Serie con los datos de los ficheros  [paises.txt](datos/paises.txt) y [datos_mig.txt](datos/datos_mig.txt).
- La serie ha de llmarse 'serie_mig'.
- El índice de la serie está constituído por los paises. 
- Los datos de la serie son los datos relativos a la migración neta.

In [4]:
# Sol:

## PR3

1. Comprueba si existen índices repetidos en el DataFrame 'mig_2'.
2. Recupera los datos del pais 'Germany'.
3. Recupera solo el dato de migración neta del pais 'Germany'.
4. Recupera solo las 3 primeras filas del dataFrame.
5. Recupera solo las 3 primeras filas del dataFrame y solo la última columna.

In [5]:
# Sol:

## PR4

1. Nos va a interesar tener información de la media del valor de migración Neta en los paises de la UE. Calcúlala en la variable 'media'.
2. ¿De qué tipo es la variable media?
3. Añade una nueva columna al DataFrame 'mig_2' llamada 'Desviacion'. El valor de la columna es la diferencia enter la media calcuada anteriormente y la migración neta.

In [6]:
# Sol:

## PR5

Borrar la columna 'Id' del DataFrame 'mig_2'. Cuidado: la función __drop__ no modifica el DataFrame original.

In [7]:
# Sol:

## PR6

1. Añadir los siguientes datos al DataFrame 'mig_2':
    - Paises: Lithuania, Albania, Estonia
    - Datos de migración neta para cada uno de los paises anteriores: 3.2, 2.8 y 1.7

In [8]:
# Sol:

## PR7

1. Crear un nuevo DataFrame con los datos de incremento de población de los paises de la UE en la década. Los datos se encuentran en el fichero [datos_poblacion.txt](datos/datos_poblacion.txt). 
    - El nuevo DataFrame se llamará 'euro_global'.
    - Los paises se encuentran en el fichero [paises.txt](datos/paises.txt). 
    - El nuevo DataFrame debe tener dos columnas:'Pais' y '% Poblacion'.
    
2. Crea un nuevo DataFrame a partir del DataFrame 'mig_1' y 'euro_global' de forma que obtengamos un listado de paises con su información de migración neta e incremento de población.

In [9]:
# Sol:

## PR8

Con los datos de los DataFrame 'mig_2' y 'euro_poblacion', crea un nuevo        DataFrame llamado euro_completo con las siguientes características:
    - Los índices son enteros
    - Las columnas son las columnas de 'mig_2' y la columna '% Poblacion'

In [10]:
# Sol: